# Pastas de compilação
bin/
obj/

# Arquivos do Visual Studio
.vscode/
.vs/

# Arquivos de dependências e pacotes
*.nuget/
*.user
*.suo
*.dbmdl
*.jfm

# Arquivos de logs
*.log

# Configurações locais
*.config
*.local

# Build outputs
*.dll
*.exe
*.pdb
*.cache

# Teste e cobertura
TestResults/
